S3method(toRd,shiny.tag)
S3method(toRd.shiny.tag,a)
S3method(toRd.shiny.tag,abbr)
S3method(toRd.shiny.tag,aside)
S3method(toRd.shiny.tag,br)
S3method(toRd.shiny.tag,cite)
S3method(toRd.shiny.tag,code)
S3method(toRd.shiny.tag,div)
S3method(toRd.shiny.tag,dfn)
S3method(toRd.shiny.tag,dt)
S3method(toRd.shiny.tag,dd)
S3method(toRd.shiny.tag,dl)
S3method(toRd.shiny.tag,em)
S3method(toRd.shiny.tag,h1,simple_toRd_extractor)
S3method(toRd.shiny.tag,h2,simple_toRd_extractor)
S3method(toRd.shiny.tag,h3,simple_toRd_extractor)
S3method(toRd.shiny.tag,h4,simple_toRd_extractor)
S3method(toRd.shiny.tag,h5,simple_toRd_extractor)
S3method(toRd.shiny.tag,html)
S3method(toRd.shiny.tag,img)
S3method(toRd.shiny.tag,kbd)
S3method(toRd.shiny.tag,li)
S3method(toRd.shiny.tag,p)
S3method(toRd.shiny.tag,pre)
S3method(toRd.shiny.tag,q)
S3method(toRd.shiny.tag,ol)
S3method(toRd.shiny.tag,samp)
S3method(toRd.shiny.tag,section,toRd.shiny.tag.div)
S3method(toRd.shiny.tag,span,simple_toRd_extractor)
S3method(toRd.shiny.tag,strong)
S3method(toRd.shiny.tag,table)
S3method(toRd.shiny.tag,tbody)
S3method(toRd.shiny.tag,td)
S3method(toRd.shiny.tag,th)
S3method(toRd.shiny.tag,thead)
S3method(toRd.shiny.tag,tfoot)
S3method(toRd.shiny.tag,tr)
S3method(toRd.shiny.tag,ul)
export(toRd.shiny.tag)
import(Rd)
import(htmltools)
import(methods)
import(pkgcond)
import(testextra)
importFrom(assertthat,is.flag)
importFrom(assertthat,is.string)
importFrom(purrr,map_int)
importFrom(purrr,map_lgl)
importFrom(rlang,"%||%")
importFrom(utils,head)
importFrom(utils,tail)
